.login{
    background-color: lightblue;
}
.text{
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}
.texts{
    text-align: center;
    font-style: italic;
}
.container{
    background-color: rgb(80, 140, 160);
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 3vh;  
    box-shadow: 0, 0 rgba(0, 0, 0.7); 
    text-justify: inter-cluster;
}